.DS_Store
._.DS_Store
*.bak
tmp.*
build/
kitchen/
build-*.d/
publisher-info.sh
*.sublime-workspace
.mulle-make-build-dir
version.old
.gdb_history
.ackrc
var/
wilted/
mulle-template-composer-*
mulle-markdown-preview-*.html
coverage*.html
*.gcda
*.gcno
cola/wilted/
